* {
  margin: 0px;
  padding: 0px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

/* header  */

.header {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.link .menu {
  display: flex;
  list-style: none;
}

.link .menu a {
  display: flex;
  text-decoration: none;
  padding: 0px 14px;
  line-height: 50px;
}
.user_logo {
  padding-right: 60px;
}
.user_logo i {
  padding-right: 15px;
  line-height: 50px;
  color: black;
}

.banner-img {
  height: 100vh;
  background-position: 0% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.data-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* category-area-banner  */

.category-area-img {
  background-size: cover;
  background-position: 0% 40%;
  background-repeat: no-repeat;
  padding: 0px 50px;
}

.category-data {
  padding: 100px 0px;
}

/* best seller  */

.p40 {
  padding: 60px 0px;
}

.product-area-data {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 125, 125, 0.379);
}

.border-right {
  border-right: 1px solid rgba(128, 125, 125, 0.379);
}

.product-area-data .border-right:last-child {
  border-right: 0px solid green;
}

.product-area h4 {
  font-size: 12px;
  text-transform: capitalize;
}
.product-area h3 {
  font-size: 16px;
  text-transform: capitalize;
}
.product-area span {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}

/* best-category-area  */
.best-category-area {
  margin-top: 80px;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.data-cate {
  padding: 140px 0px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.itam {
  text-align: center;
  color: aliceblue;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: -20px;
  background-color: rgba(0, 0, 0, 0.749);
}

.itam h3 {
  font-size: 15px;
  padding: 15px 0px;
}

/* go to shop area  */
.mt-50 {
  margin-top: 80px;
  margin-bottom: 60px;
}
/* .mt-50 {
  margin-top: 180px;
} */
.trend {
  padding: 260px 0px;
}
.trend-two {
  padding: 100px 0px;
}
.trend-three {
  padding: 102px 0px;
}
.trend-four {
  padding: 102px 0px;
}

.data-one {
  padding: 60px 0px;
}
.data-two {
  padding: 60px 0px;
}

.ins img {
  padding: px;
  width: 100%;
}

.data-email-email {
  display: flex;
  justify-content: end;
}

.email-border {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 40px 0px;
}
